<?xml version="1.0" encoding="utf-8"?> <!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Data Source=LAPTOP-M54IK6U8\MSSQLSERVER_2022;Initial Catalog=cesium;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<!-- 修改 data source 的路徑 --><add name="cesiumEntities" connectionString="metadata=res://*/SQL.Model_test.csdl|res://*/SQL.Model_test.ssdl|res://*/SQL.Model_test.msl;provider=System.Data.SqlClient;provider connection string=&quot;     data source=LAPTOP-M54IK6U8\MSSQLSERVER_2022;      initial catalog=cesium;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="cesiumEntities1" connectionString="metadata=res://*/SQL.Model_sql.csdl|res://*/SQL.Model_sql.ssdl|res://*/SQL.Model_sql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-M54IK6U8\MSSQLSERVER_2022;initial catalog=cesium;integrated security=True;multipleactiveresultsets=True;encrypt=False;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
	<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v15.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>