USE [cesium]
GO
/****** Object:  Table [dbo].[login]    Script Date: 2025/9/3 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[account] [nvarchar](10) NOT NULL,
	[password] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[streetlampData]    Script Date: 2025/9/3 下午 03:02:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[streetlampData](
	[LAYER] [int] NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
	[ORGAN] [nvarchar](50) NULL,
	[OP_CODE] [int] NULL,
	[BURY_DATE] [date] NULL,
	[NUM] [nvarchar](50) NULL,
	[LENGTH] [decimal](10, 2) NULL,
	[MATERIAL] [nvarchar](50) NULL,
	[USEMODE] [int] NULL,
	[DATAMODE] [int] NULL,
	[NOTE] [nvarchar](255) NULL,
	[POINT_X] [decimal](15, 7) NULL,
	[POINT_Y] [decimal](15, 7) NULL,
	[TOWNSHIP] [nvarchar](50) NULL,
	[HEIGHT] [decimal](10, 2) NULL,
	[MOD_DATE] [date] NULL,
	[STATE] [int] NULL,
	[DATA1] [nvarchar](50) NULL,
	[DATA2] [nvarchar](50) NULL,
	[LEVEL] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[login] ([account], [password]) VALUES (N'Tina', N'abcde')
INSERT [dbo].[login] ([account], [password]) VALUES (N'Ruby', N'12345')
INSERT [dbo].[login] ([account], [password]) VALUES (N'Allen', N'56789')
GO
INSERT [dbo].[streetlampData] ([LAYER], [ID], [ORGAN], [OP_CODE], [BURY_DATE], [NUM], [LENGTH], [MATERIAL], [USEMODE], [DATAMODE], [NOTE], [POINT_X], [POINT_Y], [TOWNSHIP], [HEIGHT], [MOD_DATE], [STATE], [DATA1], [DATA2], [LEVEL]) VALUES (8020203, N'020203132276', N'GC7', 0, CAST(N'2018-07-01' AS Date), N'342', CAST(8.00 AS Decimal(10, 2)), N'金屬桿', 0, 1, N'111年9月管線單位權管圖資', CAST(120.6785488 AS Decimal(15, 7)), CAST(24.1476520 AS Decimal(15, 7)), N'6600100', CAST(83.57 AS Decimal(10, 2)), CAST(N'2023-04-25' AS Date), 1, N'2023-04-25', NULL, NULL)
INSERT [dbo].[streetlampData] ([LAYER], [ID], [ORGAN], [OP_CODE], [BURY_DATE], [NUM], [LENGTH], [MATERIAL], [USEMODE], [DATAMODE], [NOTE], [POINT_X], [POINT_Y], [TOWNSHIP], [HEIGHT], [MOD_DATE], [STATE], [DATA1], [DATA2], [LEVEL]) VALUES (8020203, N'020203208945', N'GC7', 0, CAST(N'2018-07-01' AS Date), N'1093', CAST(8.00 AS Decimal(10, 2)), N'金屬桿', 0, 1, NULL, CAST(120.6844575 AS Decimal(15, 7)), CAST(24.1409953 AS Decimal(15, 7)), N'6600100', CAST(76.73 AS Decimal(10, 2)), CAST(N'2024-08-30' AS Date), 2, NULL, NULL, N'2')
INSERT [dbo].[streetlampData] ([LAYER], [ID], [ORGAN], [OP_CODE], [BURY_DATE], [NUM], [LENGTH], [MATERIAL], [USEMODE], [DATAMODE], [NOTE], [POINT_X], [POINT_Y], [TOWNSHIP], [HEIGHT], [MOD_DATE], [STATE], [DATA1], [DATA2], [LEVEL]) VALUES (8020203, N'020203208946', N'GC7', 0, CAST(N'2018-07-01' AS Date), N'1096', CAST(8.00 AS Decimal(10, 2)), N'金屬桿', 0, 1, NULL, CAST(120.6847510 AS Decimal(15, 7)), CAST(24.1412515 AS Decimal(15, 7)), N'6600100', CAST(76.93 AS Decimal(10, 2)), CAST(N'2024-08-30' AS Date), 2, NULL, NULL, N'2')
GO
